<div class="bg" style= "background-color: rgb(236, 222, 222);">
  <div class="display">
    <div class="card-display">
      <mat-card
        class="h"
        *ngFor="let c of movie"
        (click)="openDialog(c.movieName)"
      >
        <img
          style="height: 300px"
          mat-card-image
          [src]="c.imgUrl"
          [alt]="c.movieName"
        />
      </mat-card>

      <mat-card *ngIf="roleStatus" class="h add" (click)="addMovie()">
        <button mat-icon-button style="margin-top: 120px;">
          <mat-icon>add</mat-icon>
        </button>
      </mat-card>
    </div>
  </div>
</div>
